body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  margin: 0;
  padding: 0.5rem 1rem;
}

input {
  padding: 0.5rem 1rem;
}

::placeholder {
  font-style: italic;
}

#container {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 50%;
}

#list-elem {
  display: flex;
  flex-direction: column;
}

.task-element {
  border-bottom: 1px solid gray;
  padding: 0.5rem 1rem;
  margin: 1px 0;
}

span {
  padding: 0 0.5rem;
}

.delete-button {
  width: 100%;
  padding: 1rem;
  color: rgb(110, 109, 109);
  font-size: large;
}

/* checked checkbox style */
.checked {
  text-decoration-line: line-through;
  color: darkgray;
}

input[type="checkbox"]:checked::after {
  /* Heres your symbol replacement - this is a tick in Unicode. */
  content: "\2713";
  color: #fff;
}
